<div class="modal fade" id="ModalDeleteConfirmation" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header card-footer-main">
                <h5 class="modal-title text-light font-weight-bold">Delete confirmation</h5>
            </div>
            <div class="modal-body card-body-main">
                <h2 class="mb-0 text-center">Are you sure you want to do this?</h2>
            </div>
            <div class="modal-footer card-header-main">
                <form method="POST" class="m-0" id="form-delete-note">
                    <input type="hidden" name="_method" value="DELETE">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
                    <button type="submit" class="btn btn-success">Yes</button>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="/js/delete-confirmation.js"></script>