<%- include('partials/head') %>
<%- include('partials/header') %>
<main>
    <div class="container p-4">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card mt-3">
                    <div class="card-header card-header-main">
                        <h2 class="card-title text-center mb-0 text-light">About this social network</h2>
                    </div>
                    <img src="/img/hernan.jpg" alt="(Hernan.Reiq) Hernan Virgilio Demorizi Ureña" class="card-img-top">
                    <div class="card-body card-body-main">
                        <p class="card-text">
                            The development and web design of this social network was thanks to Hernan V. Demorizi Ureña. <br><br>
                            If you want to know more about him, visit his portfolio of projects and skills (in Spanish).
                        </p>
                        <a href="https://bit.ly/hernanreiq" target="_blank" class="btn d-block btn-send">Portfolio <i class="fas fa-external-link-alt"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<%- include('partials/footer') %>