<%- include('partials/head') %>
<%- include('partials/header') %>
<main>
    <div class="container p-4 mt-3">
        <%- include('partials/error') %>    
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card">
                    <div class="card-header card-header-form">
                        <h2 class="text-center">Register</h2>
                    </div>
                    <div class="card-body card-body-main">
                        <form action="/user/register" method="POST" id="user-register" autocomplete="off">
                            <div class="form-group">
                                <input type="text" name="name" required placeholder="Name" class="form-control" maxlength="30" autofocus>
                            </div>
                            <div class="form-group">
                                <input type="email" name="email" required placeholder="Email" class="form-control">
                            </div>
                            <div class="form-group">
                                <input type="password" name="password" required class="form-control" placeholder="Password: Minimum 7 characters">
                            </div>
                            <div class="form-group">
                                <input type="password" name="password_confirm" required class="form-control" placeholder="Confirm your password">
                            </div>
                        </form>
                    </div>
                    <div class="card-footer card-footer-form">
                        <button type="reset" class="btn btn-clean my-1 w-100 shadow" form="user-register">Clean fields</button>
                        <button type="submit" class="btn btn-send my-1 w-100 shadow" form="user-register">Create this note</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<%- include('partials/footer') %>