body {
    background: #232526;  
    background: -webkit-linear-gradient(to right, #0c4680, #232526); 
    background: linear-gradient(to right, #0c4680, #232526); 
}
nav .nav-link, .nav-brand{
    text-shadow: 1px 1px 1px black;
}
textarea {
    resize: none;
    min-height: 150px;
}
.btn-profile {
    background-color: #0c4680;
    background: -webkit-linear-gradient(to bottom, #0c4680, #232526); 
    background: linear-gradient(to bottom, #0c4680, #232526); 
}
.btn-profile:hover {
    background-color: #035db6;
    background: -webkit-linear-gradient(to bottom, #035db6, #232526); 
    background: linear-gradient(to bottom, #035db6, #232526); 
}
.btn-edit {
    background-color: #009ac9;
}
.btn-edit:hover {
    background-color: #0081a8;
}
.card-title, .h1-main {
    text-shadow: 1px 1px 1px black;
}
.card-body-form {
    background: #f46b45;  
    background: -webkit-linear-gradient(to left, #eea849, #f46b45); 
    background: linear-gradient(to left, #eea849, #f46b45); 
}
.card-header-form, .card-footer-form {
    color: white;
    text-shadow: 1px 1px 1px black;
    background: #f46b45;  
    background: -webkit-linear-gradient(to right, #eea849, #f46b45); 
    background: linear-gradient(to right, #eea849, #f46b45); 
}
.btn {
    text-transform: uppercase;
    color: white;
    font-weight: bold;
}
.btn:hover {
    color: white;
}
.btn-send {
    background: #000000;  
    background: -webkit-linear-gradient(to bottom, #0c5c0c, #000000); 
    background: linear-gradient(to bottom, #0c5c0c, #000000); 
}
.btn-send:hover {
    background: #000000;  
    background: -webkit-linear-gradient(to bottom, #0f9b0f, #000000); 
    background: linear-gradient(to bottom, #0f9b0f, #000000); 
}
.btn-clean {
    background: #1e2529;  
    background: -webkit-linear-gradient(to bottom, #414345, #1e2529); 
    background: linear-gradient(to bottom, #414345, #1e2529); 
}
.btn-clean:hover {
    background: #0e1113;  
    background: -webkit-linear-gradient(to bottom, #2e3031, #0e1113); 
    background: linear-gradient(to bottom, #2e3031, #0e1113); 
}
.card-footer-main {
    background: #000000; 
    background: -webkit-linear-gradient(to left, #434343, #000000);  
    background: linear-gradient(to left, #434343, #000000); 
}
.card-header-main {
    background: #000000; 
    background: -webkit-linear-gradient(to right, #434343, #000000);  
    background: linear-gradient(to right, #434343, #000000); 
}
.card-body-main {
    background: #be4a29;  
    background: -webkit-linear-gradient(to left, #f46b45, #be4a29, #be4a29); 
    background: linear-gradient(to left, #f46b45, #be4a29, #be4a29); 
    color: white;
    text-shadow: 1px 1px 1px black;
}